.boton-icono {
    -fx-background-image: url("/src/main/resources/icons/right-from-bracket-solid.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
}
